{% load static %}
<html>

<head>
    <title>GitLand</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.2.0/css/bootstrap.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js">
    </script>

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/agate.min.css"> -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/atelier-forest-light.min.css">

    <script src="https://cdn.jsdelivr.net/npm/highlightjs-line-numbers.js@2.6.0/dist/highlightjs-line-numbers.min.js">
    </script>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.7.0/highlightjs-line-numbers.min.js">
    </script> -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
        hljs.initHighlightingOnLoad();
        hljs.initLineNumbersOnLoad();
    </script>
    <style>
        .hljs-ln td {
            padding-left: 5px;
        }

        .hljs-ln-numbers {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            text-align: center;
            color: #ccc;
            border-right: 1px solid #CCC;
            vertical-align: top;
            padding: unset;
            padding-right: 0px;

            /* your custom style here */
        }

        /* for block of code */
        .hljs-ln-code {
            padding: unset;
            padding-left: 20px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light app-nav">
        <a class="navbar-brand" href="#">
            <img src="{% static 'assets/icons/5847f997cef1014c0b5e48c1.png' %}" height="30" alt="">
        </a>
        <a class="navbar-brand" href="#">GitLand</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'repos_home' username=user.username %}">Repositories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'repo_form' username=user.username %}">Add Repository</a>
                </li>
                {% endif %}
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Comments</a>
                </li> -->

                <!-- <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li> -->
            </ul>
            <!-- remove mr-auto and add pull-right -->
            <ul class="navbar-nav pull-right">
                <li class="nav-item">
                    <a class="nav-link" href="#">{{user.username}}</a>
                </li>
                <li class="nav-item">
                    {% if user.is_anonymous %}
                    <a class="nav-link" href="{% url 'login'%}">login</a>
                    {% else %}
                    <a class="nav-link" href="{% url 'logout' %}">logout</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>

    <div class="content container">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>