{% extends 'git_land/base.html' %}
{% block content %}
<h3>The repository for this project is empty</h3>
<p>You can create files directly in GitLab using one of the following options.</p>

<h5>Command line instructions</h5>
<p>You can also upload existing files from your computer using the instructions below.</p>

<h5>Create a new repository</h5>
<div>
    <p>
        git clone {{ url }}
        cd t
        touch README.md
        git add README.md
        git commit -m "add README"
        git push -u origin master

    </p>  

</div>

<h5>Push an existing folder</h5>
<div>
    <p>
        cd existing_folder
        git init
        git remote add origin {{ url }}
        git add .
        git commit -m "Initial commit"
        git push -u origin master
    </p>  

</div>

<h5>Push an existing Git repository</h5>
<div>
    <p>
        cd existing_repo
        git remote rename origin old-origin
        git remote add origin {{ url }}
        git push -u origin --all
        git push -u origin --tags
    </p>  

</div>

{% end block %}